body{
    margin: 0px;
}
/* TEXT STYLE */
.text-style{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: slategrey
}
.text-align-center{
    text-align: center;
    
}
.text-style-header{
    font-family: sans-serif;
    color: white;
    letter-spacing: 2px;
}
.text-style-subheader{
    font-family: sans-serif;
    color: slategray;
    letter-spacing: 1px;
}
/* HEADER  */
#site-header {
    background-image: url("static/golden_gopher_1.jpg");
    background-size: cover;
    width: 100%;
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.7;
}
/* HORIZONTAL LIST */
.horizontal-list {
    list-style: none;
    padding-left: 0px;
}
.horizonatal-list li{
    display: inline-block;
    margin: 0px 10px 0px 10px;
    padding:0;
    
    
}
/* NAVIGATION */
#navigation{
    margin-top: 0px;
}
#navigation.horizonatal-list li a{
    text-decoration: none;
    font-size: small;
    transition: color 0.5s, border-bottom 0.1s;
}
#navigation.horizonatal-list li a:hover{
    color: bisque;
    border-bottom: 1px solid bisque;
}
/* NAME */
#name{
    margin: 50px;
}

#name h1{
    font-size: 50px;
    text-transform: capitalize;
    

}

/* SOCIAL */
#social li a img{
    /* padding:10px; */
    margin: 10px;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border-radius: 10%;
    transition: 0.3s;
}

#social li a img:hover{
    box-shadow: 0px 0px 6px 4px rgba(255,255, 255, 0.4);
}
/* DISPLAY PICTURE */
#display-picture img{
    width: auto;
    height: 250px;
    border-radius: 60%;
    margin-top: -100px;
    position: relative;
    border: snow;
    box-shadow: 0px 0px 2px 1px #b9b2bd;
    text-align: center;
}
/* MAIN CONTENT */
main section:nth-child(2n+1){
    background-color: lavender;
}
main section:nth-child(2n){
    background-color: white;
}
/* SKILLS */
main section{
    margin: auto;
    padding: 20px;
}
.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.section-title h1{
    display: inline-block;
    margin-left: 10px;
    /* padding: 10px; */
    
}
.title-icon{
    width: auto;
    height: 25px;
}
.resume-section{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}
#skill-blobs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.skill-blob{
    /* border: 2px solid darkgray; */
    /* padding: 5px; */
    border-radius: 0.9rem;
    width: 100px;
    height: 1.6rem;
    text-align: center;
    margin: 10px;
    background-color:#d3d3d391;
    box-shadow: 0px 0px 2px 1px #b9b2bd6b;
}
.skill-blob span{
    font-size: 0.8rem;
    text-align: center;
    color:darkslategray;
}

/* PERCENTAGES */
.percent{
    
    height: inherit;
  
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
}

.pastel-blue{
    background-color: #accff1;
}

.pastel-orange{
    background-color: #F5D2D3;
}

.pastel-green{
    background-color:#dcfff3;
}
.pastel-yellow{
    background-color: #fffed4;
}

/* EXPERIENCE */
#experience{
    position: relative;;
}
#experience-main{
    width: auto;
    position: relative;
    text-align: center;
}
.divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    top: 10%;
    left: 50%;

}
.divider-icon{
    position: sticky;
    top: 30%;
    transform: rotate(90deg);
    z-index: 2;
    width: 30px;
    
}
.experience-box{
    position: relative;
    min-height: 200px;
    width: 40%;
    border:2px solid black;
    margin: 10px;    

}
.experience-box:nth-child(2n){
    left: 53%;
}


/* CONTACT */
#contact{
    background:radial-gradient(at top right, purple,gray)
}
#contact-title h1{
    color:white;
}


#contact-main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;    
    color:white;
    
}
.contact-box{
    flex:1 1 0;
}
.contact-icon{
    width: 1em;
    height: auto;
}

#contact-details p, #contact-details h3{
    color:white;
}
.contact-feild{
    display: block;
    margin: 15px 0px 15px 0px;
    height: 1.6rem;
    width: 80%;
    border: none;
    border-bottom: 2px solid gray;
    background: None;
    color:white;
    outline: none;
    transition: 0.4s ease-out;
    font-size: 0.9em;
    font-family: sans-serif;

}

.contact-feild:focus-within{
    border:None;
    border-bottom: 2px solid white;
}

#send-button{
    width:auto;
    padding: 10px;
    font-size: 0.9em;
    font-family: sans-serif;
    background: none;
    border: 2px solid gray;
    color:white;
    transition: 0.2s;
    
}
#send-button:hover{
    background-color:gray;
}

#send-button:active{
    background-color:darkgray;
    border: 2px solid darkgray;
    outline:none;
}
